.gradle
microservicio/build/libs
build/libs.jar
gradle/wrapper/gradle-wrapper.jar

microservicio/dominio/build
microservicio/infraestructura/build
microservicio/build
microservicio/aplicacion/build

comun/comun-aplicacion/build
comun/comun-dominio/build
comun/comun-infraestructura/build
comun/comun-test/build
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
bin/
logs
# gradle/

